html,
body {
  margin: 0;
  padding: 0;
}

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: url("../img/Background.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title > h1 {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fog {
  position: relative;
  height: 150vh;
  width: 100%;
  background: #fff;
}

.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.fog-img {
  position: absolute;
  height: 150vh;
  width: 300vw;
  z-index: 2;
}

.fog-img-first {
  background: url("../img/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.fog-img-second {
  background: url("../img/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 30s linear infinite;
}

div.relative {
  position: relative;
  top: 150px;
  left: 35%;
}

.video-container {
  position: absolute;
  left: 55%;
  bottom: 0;
  transform: translateX(-50%);
  width: 560px; /* Match the width of your iframe */
  height: 315px; /* Match the height of your iframe */
  z-index: 20; /* Ensure it's above other content if necessary */
}

.center {
 width: 50%;
 margin: 0 auto; 
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.image-container {
    position: absolute;
    bottom: 10px; /* Adjust this value based on your footer or other elements */
}

.left-image {
    left: 10px; /* Distance from the left edge of the viewport */
}

.right-image {
    right: 10px; /* Distance from the right edge of the viewport */
}

.image-container img {
    display: block; /* This removes any extra space beneath the image */
    width: 500px; /* Specify the width or keep it responsive */
    height: auto; /* Maintain aspect ratio */
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
